@model Ananya.Models.Tbl_idea



<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.7/jquery.validate.unobtrusive.min.js"></script>



    <link rel="stylesheet" type="text/css" href="~/Content/idea.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Montserrat:wght@100&family=Sacramento&family=Ysabeau+Office&display=swap" rel="stylesheet">
</head>
<body>
    <div class="grey">

    </div>
    <div class="dessert">

    </div>
    <div class="grey2">

    </div>
    <div class="idea">

        <h1 class="ideaheading">Idea Portal</h1>
        <h3 class="ideasub">Please take a moment to fill your idea</h3>
        <div>
            @using (Html.BeginForm("IdeaPortal", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <table>
                    <tr>
                        <td><label class="label1">Area of Concern *</label><br></td>
                        <td>
                            @Html.TextBoxFor(m => m.AreaofConcern, new { @class = "my-textbox" })
                            @Html.ValidationMessageFor(m => m.AreaofConcern, "", new { @class = "validation-message1" })

                        </td>
                    </tr>
                    <tr>
                        <td><label class="label2">Idea Title * </label><br></td>
                        <td class="input">
                            @Html.TextBoxFor(m => m.Title, new { @class = "my-textbox" })
                            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "validation-message2" })

                        </td>
                                                
                                            
                    </tr>
                    <tr>
                        <td><label class="label3">Idea in Brief *</label><br></td>
                        <td class="input big">
                            @Html.TextAreaFor(m => m.Idea_brief, new { @class = "my-textbox big" })
                            @Html.ValidationMessageFor(m => m.Idea_brief, "", new { @class = "validation-message3" })

                        </td>
                    </tr>
                    <tr>
                        <td><label class="label4">Detailed Modelling</label><br></td>
                        <td>@Html.TextAreaFor(m => m.Detail_modelling, new { @class = "my-textbox big" })</td>
                    </tr>
                    <tr>
                        <label class="attachlabel">Attachment: </label>
                        <input type="file" name="pdfFile" class="pdf attach">
                        <br>
                    </tr>
                    <tr>
                        <td><input class="submitidea" type="submit" onclick="" value="Submit" /></td>
                    </tr>
                </table>
            }
        </div>
        <b>@ViewBag.saveresult</b>
        <button class="ideabutton">
            <a href="/Home/IdeaSubmitUser">◀ Back to Idea Page</a>
        </button>
    </div>
    <script>
    function showPopupMessage() {
        alert('Data has been saved successfully');
    }
    </script>
</body>
</html>


